body {
	
}

#banner {
	width: 100%;
}

.titulo-principal{
	position: absolute;
    top: 20px;
    right: -10px;
    color: black;
    font-weight: bold;
    font-size: 50px;
}

.principal {
	background: #CCCCCC;
	padding: 30px;
}

.titulo-centralizado {
	text-align: center;
}

.corpo-texto {
	text-align: center;
}

#missao {
	font-size: 20px;
}

em strong {
	color: #FF0000; 
	/* color: red; */
	/* color: rgb(255,0,0) */
}

.itens {
	font-style: italic;
}

.beneficios {
	background: #ffffff;
	padding: 20px;
}


.lista-ben ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}